<div class="container">
  <div class="row justify-content-center">
      <div class="col-md-8">
          <div class="card">
              <div class="card-header">Login</div>

              <div class="card-body">

                <form [formGroup]="form" (ngSubmit)="login()">

                  <div class="form-group row">
                    <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>

                    <div class="col-md-6">
                        <input id="email" formControlName="email" type="email" placeholder="E-Mail Address" class="form-control" required autocomplete="email">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                    <div class="col-md-6">
                        <input id="password" formControlName="password" type="password" placeholder="Password" class="form-control" required>
                    </div>
                  </div>

                  <div class="form-group row mb-0">
                    <div class="col-md-8 offset-md-4">
                        <button type="submit" class="btn btn-success" [disabled]="!form.valid">
                            Login
                        </button>
                    </div>
                  </div>

                </form>

              </div>
          </div>
      </div>
  </div>
</div>


