<div class="card-body">

  <table class="table table-sm table-bordered text-center">

    <thead>
      <tr>
        <th>Ip Address</th>
        <th>Label/Comment</th>
        <th>Tools</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let i of table">
        <td>{{ i.ip }}</td>
        <td>{{ i.comment }}</td>
        <td>
          <button type="button" class="btn btn-sm btn-info" routerLink="/view/{{ i.id }}">View</button>
        </td>
      </tr>
    </tbody>

  </table>

</div>
